html, body{
	font-family: 'Arial';
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}


a {
	color: #229af1;
	text-decoration: none;
}


a:hover {
	color: #330202;
	text-decoration: underline;
}


.clear {clear: both}


ul.mainmenu {
	list-style: none;
	background: #134afa;
	height: 60px;
	margin: 0; 
	padding: 0;
	font-size: 20px;
	overflow : hidden;
}


ul.mainmenu li{
	float: left;
	margin: 18px 40px 0 50px;
}


ul.mainmenu li.last {
	float: right
}

ul.mainmenu li a{
	color: #ffffff;
	text-decoration: none;
}

ul.mainmenu li a:hover {
	color: #8ee0e5;
}

ul.mainmenu li.log{
	float: right;
	margin: 18px 40px 0 50px;
}

ul.mainmenu li.log a{
	color: #ffffff;
	text-decoration: none;
}

ul.mainmenu li.log a:hover {
	color: #8ee0e5;
}

div.content {
	margin: 10px;
}

.form-contact label {
	display: inline-block;
	min-width: 80px
}

.form-contact p{
	margin: 10px 0 10px 0
}

.form-contact input[type=submit], textarea {
	font-size: 16 px;
}

.flash {
	padding: 10px
}
.flash.success {
	border: 1px solid #695a2f;
	background: #6cf573
}

.flash.error {
	border: 1px solid #990606;
	background: #f7363d
}

.footer {
    display: flex;
    align-items: center;
    position: absolute;
    background: #134afa;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;

}

.text_for_footer {
    color: #ffffff;
    font-family: 'Arial';
    font-size: 15px;
    padding: 10px 20px;
}

ul.list-posts {
    list-style: none;
    margin: 0;
    padding: 0
    max-width: 600px;
}

ul.list-posts li {
    margin: 20px 0 0 0;
    border: 1px solid #eee;
}

ul.list-posts .title {
    margin: 0;
    padding: 5px;
    background: #eee;
}

ul.list-posts .announce {
    margin: 0;
    padding: 10px, 5px, 10px, 5px;
}