<!DOCTYPE html>
<html>
<head>
<link type="text/css" href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />
{%block title -%}
{% if title %}
	<title>Про Flask - {{title}}</title>
{% else %}
	<title>Про Flask</title>
{% endif %}
{% endblock %}
</head>
<body>
{% block content -%}
	{%- block mainmenu -%}
<ul class="mainmenu">
	<li><a href="{{ url_for('index')}}">Главная</a></li>
	<li><a href="{{ url_for('articleFlask') }}">Добавить Статью</a></li>
	{% if not current_user.is_authenticated %}
	<li class="log"><a href="{{ url_for('login')}}">Вход</a></li>
	<li class="log"><a href="{{ url_for('register')}}">Регистрация</a></li>
	{% else %}
	<li class="log"><a href="{{ url_for('logout')}}">Выход</a></li>
	<li class="log"><a href="{{ url_for('profile_users')}}">Профиль</a></li>
	{% endif -%}
</ul>
	{% endblock mainmenu -%}
<div class="clear"></div>
<div class="content">
	{% if title -%}
<h1>{{title}}</h1>
	{% else %}
<h1>Страница</h1>
	{% endif -%}
	<ul class="list-posts">
		{% for p in posts %}
		<li>
			<p class="title"><a href="{{ url_for('show_post',  alias=p.url)}}">{{p.title}}</a></p>
			<p class="announce">{{p.text[:50] | striptags}}</p>
		</li>
		{% endfor %}
	</ul>
{% endblock -%}
</div>
</body>
<div class="footer">
	<span class="text_for_footer">© 2023 Все права защищены. Компания "Антара-О".
		Адрес: Москва, Кронштадтский б-р, д. 7а, офис 209а. Телефон: +7 495 204-15-83. Email: info@antara-services.ru. Сайт: https://antara-services.ru/.</span>
</div>
</html>