<!DOCTYPE html>
<html>
<head>
<link type="text/css" href="{{ url_for('.static', filename='css/styles.css')}}" rel="stylesheet" />
<title>{{ title }}</title>
</head>
<body>
{% if menu %}
	<ul class="mainmenu">
		<li><a href="{{ url_for('.list_pubs') }}">Список статей</a></li>
		<li><a href="{{ url_for('.list_users') }}">Список пользователей</a></li>
		<li class="log"><a href="{{ url_for('.logout') }}">Выйти</a></li>
	</ul>
{% endif %}
	<div class="clear"></div>
<div class="content">
{% block content -%}
{% endblock %}
</div>
</body>
</html>